body {
    background-color: aliceblue;
    font-family: monospace;
}

table, th, td {
    border: 1px solid darkblue;
    border-collapse: collapse;
}

.main {
    width: 100%;
}

.row {
    height: 50px;
    text-align: center;
    background-color: aliceblue;
}



.heading {
    text-align: center;
}

caption {
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 2rem;
}
